<!DOCTYPE html>
<html>
  <head>
    <title>Fishingcol</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/04e41a3463.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/navigation"%>	
  	<% if flash[:notice] %>
      <div class="alert alert-success" role="alert" id="notice" class="notice">
          <%= flash[:notice] %>                                    
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert" id="notice" class="alert">
          <%= flash[:alert] %>                                    
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
